body{
	font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
	color:#AAAA00;
}

.textbox1{
		position:absolute;
		list-style: none;
		top:180px;
		left:1090px;
}
.table1{
	position:absolute;
	list-style: none;
	top:33%;
	left:82%;
}
.table2{
	position:absolute;
	list-style: none;
	top:40%;
	left:3%;
}
.outline{
	text-shadow: white 1px 1px 0px, white -1px 1px 0px,
	             white 1px -1px 0px, white -1px -1px 0px;
}
.black{
	background-color: #000000;
	outline: 0;
	border: none;
	color: #ffff00;
	text-align: right;
}
.black2{
	background-color: #000000;
	outline: 0;
	border: none;
	color: #ffff00;
}
.detblack{
	background-color: #000000;
	outline: 0;
	border: none;
	color: #00ff00;
	text-align: right;
	font-size: 10px;
}
.form{
	position:relative;
	top:0%;
	left:3%;
	width:95%;
	height:10%;
}
.table3{
	list-style: none;
	position:relative;
	top:0%;
	left:0%;
	height:10%;
}
.table4{
	list-style: none;
	position:relative;
	top:0%;
	left:0%;
	width:100%;
	height:10%;
}
.button_table_submit{
	position:relative;
	top:50%;
	left:5%;
	width:50%;
	float: right;
	height:30%;
}
.keido{
	position:absolute;
	top:83%;
	left:35%;
}
.ido{
	position:absolute;
	top:83%;
	left:50%;
}
#pos_toggle_button{
	-webkit-appearance: none;
}
.button{
	-webkit-appearance: none;
	background:#EEE
}
.select{
	-webkit-appearance: none;
	background:#EEE url(./image/arrow.png) no-repeat;
	background-size:20px 20px;
	background-position: right center;
}

.mail{
	position:absolute;
	top:87%;
	left:45%;
}
.time{
	position:absolute;
	top:91%;
	left:45%;
}
.text{
	position:absolute;
	top:95%;
	left:45%;
}
